extends layout.pug

block content
  body.html_loggin
    div.css_bonito_cambiar_contrasena
      h1 #{mensaje}
      form(action="/cambia_contrasena", method="post")
        label(for="") Introduce la nueva contrase単a
        br
        input(type="password", name="nuevaContrase単a", id="nuevaContrase単a")
        br
        input(type="hidden", name="usu", value=usu)
        br
        input(type="submit", value="cambiar la contrase単a")
