extends layout.pug 
block content 

  body.html_loggin
    div.css_bonito_comprobar_usuario
      form(action="", method="POST")
        label(for="") Vamos a cambiar tu contraseña
        br
        input(type="text", name="usu", id="usu")
        br
        input(type="submit", value="buscar tu nombre")

            