doctype html 
htnl(lang="es")
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-sacle=1")
        title=title 
        link(rel="stylesheet", href="/styles/pagina_principal_star_wars.css")
    body 
        block content