extends layout.pug 

block content 

    body.html_loggin 
        div.css_bonito_usuario_no_encontrado
            h1 #{title}
            p #{mensaje} 
            a(href='/registrar') ¿Quieres registrate?