extends layout.pug 

block content 
        
    body.html_loggin 
        div.css_bonito_usuario_encontrado
            h1 #{mensaje}
            a(href='/') Como tu usuario ya existe, solo tienes que pulsar aquí para poder loggearte